#catchPerHourContainer p, #totalHoursContainer p {
    font-size: 26px;
}


/*****************************
* Chart JS
******************************/

#bassSizeDonut {
    margin-top: 3em;
}

#bassGoalContainer, #bassSizeContainer {
    text-align: center;
    border: solid #FFFFFF .1em;
    border-radius: .75em;
    padding: 1.5em;
    display: inline-block;
    background-color: #FFFFFF;
    /* width: 24em; */
    width: 30%;
    min-width: 24em;
    box-shadow: 0 4px 8px #757272;
}

#statContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* width: 24em; */
    width: 30%;
    min-width: 24em;
    justify-content: space-around;
}

#catchPerHourContainer, #totalHoursContainer {

    border: solid #FFFFFF .1em;
    border-radius: .75em;
    padding: 1.5em;
    background-color: #FFFFFF;
    width: 100%;
    height: 12em;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px #757272;
}

#dashboardRowOne {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

/* ROW TWO */

#dashboardRowTwo {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}

#tripChartContainer, #catchChartContainer {
    text-align: center;
    border: solid #FFFFFF .1em;
    border-radius: .75em;
    padding: 1.5em;
    background-color: #FFFFFF;
    /* Edit below */
    width: 48%; /* Default for larger screens */
    box-shadow: 0 4px 8px #757272;
}

/*****************************
* Media Queries
******************************/
@media (max-width: 1467px) {
    #tripChartContainer, #catchChartContainer, #bassGoalContainer, #bassSizeContainer, #statContainer {
        width: 60%;
        min-width: 25em;
    }
}

@media (max-width: 1467px) {
    #dashboardRowOne {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        text-align: center;
    }
}