main img {
    display: block;
    width: 50%;
}

input, select, textarea {
    display: block;
    width: 24em;
}

label {
    font-size: 18px;
}

textarea {
    height: 10em;
    padding: .5em;
}


/******************
* Buttons
*******************/
#buttonContainer {
    display: flex;
    gap: 1em;
}

/* Submit button */
#buttonContainer input {
    background-color: #536642;
    width: 10em;
    color: #FFFFFF;
    border: 1px solid black;
    border-radius: .25em;
    padding: .25em;
}

#buttonContainer input:hover {
    background-color: #8F9C82;
}

/* Cancel button */
.cancelButton {
    padding: .25em;
    border: 1px solid black;
    border-radius: .25em;
    color: black;
    background-color: #F6D86B;
    text-decoration: none;
    width: 10em;
    text-align: center;
}

.cancelButton:hover {
    text-decoration: none;
    color: black;
    background-color: #FAE8A6;
}