html, body {
    background-color: #F2F2F2 !important;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Roboto Slab', serif;
}


img {
    max-width: 100%;
}

/********************************
* Fonts
**********************************/
h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 4px;
    padding-bottom: 1em;
}

/* JSP Session Messaging */
#message, #lakeMessage {
    color: #DE2424;
}

/********************************
* Header & Nav
**********************************/
/* Use important! to override bootstrap css */
.navbar-nav .nav-link {
    color: white !important;
    margin-right: 2em;
    font-size: 18px;
}

/* Ensure links appear on right under hamburger menu */

.navbar-collapse {
    text-align: right;
}

.nav-link:hover {
    color: #F6D86B !important;
}

#active {
    text-decoration: underline;
    text-decoration-color: #F6D86B;
    text-underline-offset: .3em;
}

/********************************
* Footer
**********************************/
footer {
    background-color: #536642;
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    padding-bottom: 1em;
}

footer a {
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover {
    color:#FFFFFF;
    text-decoration: none;
}

footer a img:hover {
    border: solid 1px grey;
}