body {
    margin: 0;
    padding: 0;
}

main {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #F2F2F2;
    font-family: 'Roboto Slab', serif;
}


img {
    max-width: 100%;
}

/********************************
* Fonts
**********************************/
h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 4px;
    padding-bottom: 1em;
}

#catchPerHourContainer p, #totalHoursContainer p {
    font-size: 26px;
}


/********************************
* Header & Nav
**********************************/
/* Use important! to override bootstrap css */
.navbar-nav .nav-link {
    color: white !important;
    margin-right: 2em;
    font-size: 18px;
}

/* Ensure links appear on right under hamburger menu */

.navbar-collapse {
    text-align: right;
}

.nav-link:hover {
    color: #F6D86B !important;
}

#active {
    text-decoration: underline;
    text-decoration-color: #F6D86B;
    text-underline-offset: .3em;
}





/********************************
* Footer
**********************************/
footer {
    background-color: #536642;
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    padding-bottom: 1em;
}

footer a {
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover {
    color:#FFFFFF;
    text-decoration: none;
}

footer a img:hover {
    border: solid 1px grey;
}

/*****************************
* Chart JS
******************************/

#bassSizeDonut {
    margin-top: 3em;
}

#bassGoalContainer, #bassSizeContainer {
    text-align: center;
    border: solid #FFFFFF .1em;
    border-radius: .75em;
    padding: 1.5em;
    display: inline-block;
    background-color: #FFFFFF;
    /* width: 24em; */
    width: 30%;
    min-width: 24em;
}

#statContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* width: 24em; */
    width: 30%;
    min-width: 24em;
    justify-content: space-around;
}

#catchPerHourContainer, #totalHoursContainer {

    border: solid #FFFFFF .1em;
    border-radius: .75em;
    padding: 1.5em;
    background-color: #FFFFFF;
    width: 100%;
    height: 12em;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
}

#dashboardRowOne {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

/* ROW TWO */

#dashboardRowTwo {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}

#tripChartContainer, #catchChartContainer {
    text-align: center;
    border: solid #FFFFFF .1em;
    border-radius: .75em;
    padding: 1.5em;
    background-color: #FFFFFF;
    /* Edit below */
    width: 48%; /* Default for larger screens */
}

/* Ensure they stack on small screens */
@media (max-width: 1467px) {
    #tripChartContainer, #catchChartContainer {
        width: 30%;
        flex-basis: 70%;
    }
}

@media (max-width: 1467px) {
    #dashboardRowOne {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        text-align: center;
    }
}

@media (max-width: 650px) {
    #bassGoalContainer, #bassSizeContainer, #statContainer {
        width: 18em;
        min-width: 18em;
    }
}