input {
    display: inline-block;
    width: 15em;
    background-color: #FFFFFF;
}

label {
    font-size: 18px;
    padding-left: .25em;
}

/******************
* Table
******************/
#journalsTable tbody tr:nth-child(even) {
    background-color: #E8E7E9;
}

#journalsTable tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

th {
    background-color: #ACB7A3;
}

/******************
* Buttons
*******************/

/* Yellow Anchor Clear Filter Button */
.yellowAnchorButton {
    padding: .25em;
    margin-bottom: 4em;
    margin-top: 1em;
    border: 1px solid black;
    border-radius: .25em;
    color: black;
    background-color: #F6D86B;
    text-decoration: none;
    width: 10em;
    text-align: center;
}

.yellowAnchorButton:hover {
    text-decoration: none;
    color: black;
    background-color: #FAE8A6;
}

/* Green Anchor Add Journal Entry Button */
.greenAnchorButton {
    padding: .4em 2em;
    border: 1px solid black;
    border-radius: .25em;
    color: #FFFFFF;
    background-color: #536642;
    text-decoration: none;
    text-align: center;
}

.greenAnchorButton:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color:#8F9C82;
}