h2 {
    padding-bottom: .5em;
}

#photoH2 {
    padding-bottom: 0;
}

li, h3 {
    list-style-type: none;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #c9c5c5;
}

ul {
    padding-left: 0;
}

span {
    font-weight: 700;
    font-size: 17px;
}

#journalDetails {
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

#journalDetailsLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* Make it a card */
    background-color: #F8F9FA;
    border-radius: .75em;
    padding: 1.5em;
    width: 50%;
    min-width: 24em;
    box-shadow: 0 4px 8px #757272;
}

#journalDetailsLeft h2 {
    text-align: center;
}

#journalDetailsRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

#bassSizeContainer {
    text-align: center;
    border: solid #FFFFFF .1em;
    border-radius: .75em;
    padding: 1.5em;
    background-color: #FFFFFF;
    width: 70%;
    min-width: 24em;
    box-shadow: 0 4px 8px #757272;
}

#confirmDeleteMessage {
    color: #DE2424;
}


/******************
* Buttons
*******************/
.buttonContainer {
    display: flex;
    gap: 1em;
    margin-bottom: 3em;
}

/* Green Anchor Button */
.greenAnchorButton {
    padding: .4em 2em;
    border: 1px solid black;
    border-radius: .25em;
    color: #FFFFFF;
    background-color: #536642;
    text-decoration: none;
    text-align: center;
}

.greenAnchorButton:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color:#8F9C82;
}

/* Yellow Anchor Button */
.yellowAnchorButton {
    padding: .25em;
    border: 1px solid black;
    border-radius: .25em;
    color: black;
    background-color: #F6D86B;
    text-decoration: none;
    width: 10em;
    text-align: center;
}

.yellowAnchorButton:hover {
    text-decoration: none;
    color: black;
    background-color: #FAE8A6;
}

/*****************************
* Media Queries
******************************/
@media (max-width: 1100px) {
    #journalDetails {
        flex-direction: column;
        align-items: center;
    }
    #journalDetailsRight {
        padding-bottom: 2em;
    }
    #bassSizeContainer {
        width: 98%;
    }
}