.profileSpan {
    font-weight: 700;
    font-size: 20px;
}

p {
    font-size: 18px;
}

#photoContainer img {
    width: 100%;
}

/*main {*/
/*    margin: 2% 10%;*/
/*}*/

#profileContainer {
    width: 450px;
}

#message {
    color: #DE2424;
}


/******************
* Table
******************/
#table tbody tr:nth-child(even) {
    background-color: #E8E7E9;
}

#table tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

th {
    background-color: #ACB7A3;
}

#message {
    color: #DE2424;
}

/******************
* Buttons
*******************/

/* Yellow Anchor Button */
.yellowAnchorButton {
    padding: .4em 2em;
    border: 1px solid black;
    border-radius: .25em;
    color: black;
    background-color: #F6D86B;
    text-decoration: none;
    text-align: center;
}

.yellowAnchorButton:hover {
    text-decoration: none;
    color: black;
    background-color:#FAE8A6;
}

/* Green Anchor Button */
.greenAnchorButton {
    padding: .4em 2em;
    border: 1px solid black;
    border-radius: .25em;
    color: #FFFFFF;
    background-color: #536642;
    text-decoration: none;
    text-align: center;
}

.greenAnchorButton:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color:#8F9C82;
}